{% extends 'starter-dash.html' %}
{% load static %}

{% block body %}

    <div class="form">
        <form action="">
            <label for="">Sender Hospital</label>
            <input class="form-control" type="text" placeholder="Sender Hospital">

              <label for="">Receiver Hospital</label>
            <input class="form-control" type="text" placeholder="Receiver Hospital">

              <label for="">Medical Record</label>
            <input class="form-control" type="text" placeholder="Medical Record">
            <button type="submit">Send Data</button>

        </form>
    </div>






{% endblock %}